<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>KAIROS PROM QUEEN</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

</head>
<script language="javascript" type="text/javascript">
 </script>
<body>
<!-- partial:index.partial.html -->
<div id="header">
	<h2><a>Vote Kairos Prom Queen!</a></h2>
	<h3><a href="/leader_board">[Leader Board]</a></h1>
</div>
<div id="main">
	<h2>Who's Hotter? Tap/Click to Choose.</h2>
	<table>
	  <form action="/image1" method="post">
		<tr>
			<td><input type="image"  width="150" height="150" src="{{girl1_url}}"></td>
		</form>
			<td width="50">OR</td>
		<form action="/image2" method="post">
			<td><input type="image"  width="150" height="150" src="{{girl2_url}}"></td>
		</tr>
	  </form>
		
	</table>
	<h3>(The Girl with the Highest Rating Will Be Crowned Prom Queen!)</h3>
	<h4>(Talk to me <a href='https://www.instagram.com/cashbardy/'>@cashbardy</a> on insta)</h4>
</div>

</body>

</html>
