<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>CATHE'S HOTTEST SENIORS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="header">
	<h1><a>Leader Board</a></h1>
	<h3><a href="/">[Vote Kairos Prom Queen!]</a></h1>
</div>
<div id="main">
	<h2>Leader Board</h2>
	{%for i in range(1, length)%}
	<table>
		{% if scores[i] != '1400' %}
		<tr>
		  <td width="100">#{{i}}</td>
			
			<td><input type="image"  width="100" height="100" src={{images[i]}}></td>
			<td width="200">Scored: {{scores[i][:4]}}</td>
		</tr>
		{% endif %}
	</table>
  	{%endfor%}
	<h2><a href="/">Click Here to Keep Voting!</a></h2>
	<h3>(The Girl with the Highest Rating Will Be Crowned Prom Queen!)</h3>
</div>

</body>

</html>
