<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>WE HAVE A WINNER!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

</head>
<script language="javascript" type="text/javascript">
 </script>
<body>
<!-- partial:index.partial.html -->
<div id="header">
	<h2><a>Vote Kairos Prom Queen!</a></h2>
	<h3><a href="/leader_board">[Leader Board]</a></h1>
</div>
<div id="main">
	<h2>Wow! You really like this girl! Thanks to you she will probably get a rank boost!</h2>
	<input type="image"  width="150" height="150" src="{{girlurl}}">
	<h2><a href="/">Click Here to Keep Voting!</a></h2>
	<h3>(The Girl with the Highest Rating Will Be Crowned Prom Queen!)</h3>
	<h4>(<a href='https://www.instagram.com/cashbardy/'>@cashbardy</a> on insta)</h4>
</div>

</body>

</html>
