<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>KAIROS PROM QUEEN</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

</head>
<script language="javascript" type="text/javascript">
 </script>
<body>
<!-- partial:index.partial.html -->
<div id="header">
	<h2><a>Vote Kairo's Prom Queen!</a></h2>
	<h3><a href="/leader_board">[Leader Board]</a></h1>
</div>
<div id="main">
	<h2>Wow! You really like this girl! She is your personal winner!</h2>
	<table>
		<tr>
			<td><input type="image"  width="150" height="150" src="{{girlurl}}"></td>
		</tr>
		  <h2 href="/">Keep Voting!</h2>
	</table>
	<h3>(The Girl with the Highest Rating Will Be Crowned Prom Queen!)</h3>
</div>

</body>

</html>
